/*
sign buttons, cuadros rodeando las 4 fotos y call to action section: #3882f6

backgrounds y f color:
1 > #1f2937 font white
2> #1f2937; font white
3> white  font #1f2937
4> #e5e7eb; font 1f2937
5> white font white
6> #1f2937; font white

font: la que sea en tbodymenos en section 4 que es una italic distinta creo.
*/
*{
    font-family:Arial, Helvetica, sans-serif;  
}

body{
    margin: 5px;
}
.main-section{
    /*todo el contenido de la pagina esta metido aca. de esta forma se puede manejar el margin mejor sin tener que desordenar el flex de adentro*/
    margin-left: 100px;
    margin-right: 100px;
}

.flex-container{
    display: flex;    
    flex-direction: column;

}
/*first section*/
.first-section{
    display: flex;  
    
    flex-direction: row;
      
    background-color: #1f2937;

}

.header-logo{

    justify-content: left;
    color: white;

}
.links{
    display:flex;
    flex-direction: row;
      
    color: white;    
}
/*second section*/


.second-section{
    background-color: #1f2937;
    color:white;
    flex-direction: row;
    flex:auto;
}

.h1andp2{
    font-size: smaller;
}

/*third sect*/

/*four section*/

/*fifth*/


/*six*/



.first-section,
.second-section,
.third-section,
.fourth-section,
.fifth-section,
.six-section{
    border: 1px solid red;
    display:flex;

    
}



